.embla1 {
  max-width: 100%;
  margin: auto;
  --slide-spacing: 0;
  --slide-size: 100%;
  overflow: hidden;
}

.embla__viewport1 {
  overflow: hidden;
}

.embla__container1 {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide1 {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  position: relative;
}

.image-container {
  width: 100%;
  height: 300px; /* Mobile height */
}

.embla__slide__img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* Desktop styles */
@media (min-width: 768px) {
  .image-container {
    height: 600px; /* Desktop height */
  }
}

/* Remove unused styles */
.embla__slide__number1 {
  display: none;
}
