/* Header container */
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  margin-bottom: 500px;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  padding: 5px 10px; /* Shrink padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Adjust header styles when scrolled */
.header-scrolled {
  padding: 2px 10px; /* Shrink padding */
}

/* Logo styling */
.logo {
  transition: all 0.3s ease; /* Smooth size transition */
  margin-right: 550px;
}

.logo-large {
  height: 106px; /* Default size at the top */
  width: 150px;
}

.logo-small {
  height: 70px; /* Smaller size when scrolled */
  width: 110px;
}
