/* Container to position background and text overlay */
.overlay-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background Component */
.background-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

/* Hero text styles */
.hero-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 2.25rem;
  margin-top: 6rem;
  margin-left: 1rem;
}

.hero-subtitle {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

/* Mobile breakpoint adjustments */
@media (max-width: 767px) {
  .hero-title {
    font-size: 2rem;
    margin-top: 9rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
    margin-top: 1.5rem;
  }
}

/* Desktop breakpoint */
@media (min-width: 768px) {
  .hero-title {
    font-size: 3.75rem;
    margin-top: 12rem;
    margin-left: 4rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 4rem;
  }
}

/* Hero section styles */
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Mobile styles */
@media (max-width: 767px) {
  .hero-section {
    height: 70vh; /* Shorter for mobile */
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-section {
    height: 85vh; /* Mid-height for tablets */
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .hero-section {
    height: 100vh; /* Full height for desktop */
  }
}




/* Location section styles */
.location-container {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem 1rem;
  gap: 1.5rem;
}

.location-info {
  width: 33.333333%;
  height: 83.333333%;
  background-color: var(--offwhite);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Mobile styles */
@media (max-width: 767px) {
  .location-container {
    flex-direction: column;
    padding: 0 1rem 1rem;
  }

  .location-info {
    width: 100%;
    order: -1; /* Puts info box above map */
    margin-bottom: 1rem;
  }
  
  .map-container {
    width: 100%;
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .location-container {
    flex-direction: row;
  }
  
  .map-container {
    flex: 1;
  }
}
